<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Operações de Compra e Venda</h1>
    <div> 
        <table>
            <tr>
                <th>Data</th>
                <th>Cód.</th>
                <th>Tipo</th>
                <th>Quant.</th>
                <th>Vl. Unit.</th>
                <th>Vl. Bruto</th>
                <th>Vl. Líquido</th>
            </tr>
            <tr>
                <td><%= data_tp %></td>
                <td><%= codigo_tp %></td>
                <td><%= tipo_tp %></td>
                <td><%= quant_tp %></td>
                <td><%= preco_tp %></td>
                <td><%= vl_bruto_tp %></td>
                <td><%= vl_liquido_tp %></td>
            </tr>
        </table>
    </div>
</body>
</html>