<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Soma dos números</h1>
    </div>
    <div>
        <p>Primeiro Número: <%= numero1 %>
        <!-- <%= ... %>: sintaxe do EJS para interpolar valores no HTML. O conteúdo dentro de <%= ... %> será avaliado e o resultado será inserido no HTML como texto. -->
        <!-- numero1: variável que deve ser passada para o template EJS pelo servidor. Ela contém o valor que será exibido no lugar do placeholder. -->
        </p>
        <p>Segundo Número: <%= numero2 %>
        </p>
        <p>Terceiro Número: <%= numero3 %>
        </p>
    </div>

</body>

</html>